{% set accordion_base_class = 'accordion' %}
{% set accordion_extra_classes = accordion_extra_classes|default([])|merge(['js-accordion']) %}
{% set accordion_contained = accordion_contained|default(false) %}
{% if accordion_contained %}
  {% set accordion_extra_classes = accordion_extra_classes|merge(['container']) %}
{% endif %}

<div {{ bem(accordion_base_class, accordion_modifiers|default([]), accordion_blockname, accordion_extra_classes) }}>
  {# Accordion heading + button #}
  {% embed "eureka:heading" with {
    heading_level: accordion_heading_level|default(3),
    heading_size_override: 'xsmall',
    heading_extra_classes: ['js-accordion-heading', accordion_base_class ~ '__heading'],
  } %}
    {% block heading_block %}
      {% embed "eureka:button" with {
        button_blockname: accordion_base_class,
        button_icon: true,
        button_icon_name: accordion_icon_name|default('chevron'),
        button_icon_before: accordion_icon_before,
        button_extra_classes: ['button--transparent'],
      }%}
        {% block button_content_block %}
          <span {% if accordion_expanded_heading %} data-expanded-heading="{{ accordion_expanded_heading }}" {% endif %}>
            {{ accordion_heading }}
          </span>
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {# Accordion content #}
  <div {{ bem('content', [], accordion_base_class, ['js-accordion-content']) }}>
    {% block accordion_content_block %}
      {{ accordion_content }}
    {% endblock %}
  </div>
</div>
